.leaderboard{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 25rem;
    &__title{
        background-color: black;
        height: 4rem;
        position: relative;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0 1rem;
        font-size: 15px;
       
        // border-radius: 10px;

        & img{
            margin-right: 1rem;
            filter: invert(700);
            height: 30px;
            margin-left: 0.3rem;
            width: 25px;
            
        }
        & h1 {
            color: white;
            
            margin: 0;
            height: max-content;
        }
    }

}

.arrow{
    height: 20px;
}