.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: black;
  .topMid{
    display: flex;
    align-items: center;
    &__input{
      width:28rem;
      height: 2.5rem;
      background-color: white;
      border-radius: 50px;
      position: relative;
      border: 1px solid grey;
      & input{
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        border-radius: 50px;
      
        padding: 1rem;
        background-color: rgba(128, 128, 128, 0.062);
        
      }
    }
  }
  .topLeft {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    a,
    h2 {
      color: white;
      margin: 0;
    }
  }
  .topRight {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .dropdownButton {
    display: flex;
    align-items: center;
    > div {
      span {
        display: block;
      }
    }
  }
}

.bottomHeader{
  display: flex;
  background-color: white;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  position: relative;
  &__left, &__right, &__middle{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
   
  }
  &__left{
    justify-content: flex-start;
  }
  &__middle{
    justify-content: center;
  }
  &__right{
    justify-content: flex-end;
  }
  &__search{
    display: flex;
    position: relative;
    justify-content: center;
    width: max-content;

    & img{
      position: absolute;
      right:1rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 20px;
    }
    & input{
      width: 30rem;
      border-radius: 50px;
      height: 3rem;
      outline: none;
      padding: 1rem;
      background-color: rgba(128, 128, 128, 0.062);
      border: 1px solid grey;
    }

  }
  &__create{
    display: flex;
    position: relative;
    font-size: 15px;
    
  }
  &__navicons{
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: space-between;
    width: 390px;
    padding:0 0.8rem 0 0;
      &__icon{
      &:nth-child(4){
        margin-right: 0;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      margin-right: 1rem;
      
      & img{
        height: 25px;
        margin-right: 1rem;
    
        
      }
    }
  }
}
.pp{
  border-radius: 50%;
  & img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}
.downArrow{
  height: 15px;
  transform: rotate(180deg);
  filter: invert(5);
  margin-left: 0.5rem;
}
.profileName{
  background-color: white;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
  & h1{
    color: rgba(0, 0, 0, 0.575);
  }
  
}