
.left-sidebar{
  width: auto;
  height: 100%;
  
}

.ant-layout-header{
  padding:0 5rem!important;
}
.top-header{
  background-color: black;
}
.bottom-header{
  background-color: white;
}
.right-sidebar{
  position: relative;
  height: max-content;
  background-color: transparent;
  margin-top: 2rem;
 
}
.content{
  width: 80%!important;
}
*{

  box-sizing: border-box;
}