


.ant-layout-header{
  padding:0 5rem!important;
}
.top-header{
background-color: black;
position: fixed;
width: 100%;
z-index: 12;
}
.bottom-header{
  background-color: white;
  position: fixed;
  width: 100%;
  top: 64px;
  z-index: 12;
}
.right-sidebar{
  position: relative;
  height: max-content;
  background-color: transparent;
  margin-top: 2rem;
  
}
.content{
  width: 80%!important;
  padding-left: 390px;
}
.body{
  height: max-content;
  position: relative;
  top: 128px;

}
*{
  font-size: 100%;
  box-sizing: border-box;
  
}
h1, h2, h3, h4, p{
  font-size: 14px!important;
}

h5{
  font-size: 12px!important;
  margin: 0!important;
}
.footer{
    background-color: #f0f2f5;
    border-top: solid black;
    border-width: 1px; border-color: rgba(6, 6, 10, 0.349);
    width: auto;
    height: 2rem;
    display: flex;
    position: relative;
    top: 128px;
    margin-left: 440px;
    margin: 1rem 33rem;
}
html{
    background-color: #f0f2f5;
  
}
